
<div class="jumbotron">
   <h1>Welcome To My Test Site</h1>
   
   <p>Looking Forward For Better Stories, Lets Rock</p>
   
   <%= link_to "Login", root_path, class: 'btn btn-success' %>
   <%= link_to "Join", root_path, class: 'btn btn-primary' %>
   
   
</div>