
<div class="jumbotron center">
   <h1>Welcome To My Test Site</h1>
   
   <p>Looking Forward For Better Stories, Lets Rock</p>
   
   <%= link_to "Login", new_user_session_path, class: 'btn btn-success' %>
   <%= link_to "Join", new_user_registration_path, class: 'btn btn-primary' %>
   
</div>